<div class="collapsible-wrapper">
  <h4 class="conversation-title"><label for="collapser-{{did}}" data-did="{{did}}">{{did}} (+/-)</label></h4>
  <input type="checkbox" id="collapser-{{did}}" class="collapser" checked="checked"/>

  {{#each messages}}
    <div class="conversation-messages collapsible">
      {{#if fromMe}}
        <div class="message-wrapper from-me">
          <span class="formatted_time">{{formatted_time}}</span>
          <div class="message bg-info" title="me">{{message}}</div>
        </div>
      {{else}}
        <div class="message-wrapper to-me">
          <div class="message bg-warning" title="{{from_did}}">{{message}}</div>
          <span class="formatted_time">{{formatted_time}}</span>
        </div>
      {{/if}}
    </div>
  {{/each}}
</div>
