<div class="collapser">
  <h4><label for="collapser-{{id}}">{{did}} (+/-)</label></h4>
  <input type="checkbox" id="collapser-{{id}}" class="collapsible-tables" />
  <table class="table">
    <thead><tr>
      <th class="to_did">To</th>
      <th class="from_did">From</th>
      <th class="timestamp">Timestamp</th>
      <th class="message">Message</th>
    </tr></thead>
    <tbody>
      {{#each messages}}
        <tr>
          <td class="to_did">{{to_did}}</td>
          <td class="from_did">{{from_did}}</td>
          <td class="formatted_time">{{formatted_time}}</td>
          <td class="message">{{message}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
