<h1>Verdexus SMS Messages</h1>

<select id="non-working-send_from_did">                                           <option value="">-- From --</option>
  {{#each fromDidList}}
    <option value="{{this}}">{{this}}</option>
  {{/each}}
</select> <br />
<input id="send_from_did" type="text" placeholder="From" /> <br />
<input id="send_to_did" type="text" placeholder="To" /> <br />
<label>
  Message: <br />
  <textarea id="send_message" rows="5" cols="60"></textarea>
</label> <br />
<button id="send_submit">Send message</button> <br />

<table class="table">
  <thead><tr>
    <th class="to_did">To</th>
    <th class="from_did">From</th>
    <th class="timestamp">Timestamp</th>
    <th class="message">Message</th>
  </tr></thead>
  <tbody>
    {{#each messages}}
      <tr>
        <td class="to_did">{{to_did}}</td>
        <td class="from_did">{{from_did}}</td>
        <td class="timestamp">{{timestamp}}</td>
        <td class="message">{{message}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script type="text/javascript">
  $('#send_submit').click(function(e) {
    const fromDid = $('#send_from_did').val()
    const toDid = $('#send_to_did').val()
    const message = $('#send_message').val()
    if (!fromDid || !toDid || !message) {
      alert('Invalid message parameters')
      return
    }
    
    fetch(`/send/${toDid}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json'
      },
      body: JSON.stringify({
        from: fromDid,
        msg: message
      })
    }).then(response => {
      if (!response.ok) throw response
      return response.text()
    }).then(payload => {
      console.log(payload)
      window.location.reload()
    }).catch(console.error)
  })
</script>
